
.todo-input{
    background: #eee;
    position: absolute;
    bottom: 0;
    width: 100%;

    padding: 32px 32px 72px ;
    box-sizing: border-box;

    /* display: none; */
}

.todo-input input{
    border: 1px solid #94989b;
    font-size: 18px;
    border-radius: 4px;
    width: 100%;
    outline: none;

    padding: 12px;
    box-sizing: border-box;
    
    
}

.begin-btn{
    background: #38d9a9;
    width: 80px;
    height: 80px;
    border-radius: 50%;

    /* 테두리 제거시 border,outline 함께 */
    border: none;
    outline: none;
    
    font-size: 60px;
    color: #fff;
    
    /* 텍스트 정중앙  */
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 50%;
    bottom: -5%;
    transform: translate(-50%, 0);
    z-index: 10;

    cursor: pointer;
    /* 애니메이션 지연효과 */
    transition: 0.5s;

}

.begin-btn:hover{
    /* background: #8effdd; */
    background: #63e6be;
}

.begin-btn.open {
    background: #ff6b6b;
    transform: translate(-50%, 0) rotate(45deg);
}

.begin-btn.open:hover{
    background: #ff8787;
}
